<?xml version="1.0" encoding="UTF-8"?>
<snippets group="OpenSCAD" version="1.0">

  <snippet name="Cube" trigger="cube" description="Centered cube">
    <text languages="openscad">cube([${1:10}, ${2:10}, ${3:10}], center=true);</text>
  </snippet>

  <snippet name="Sphere" trigger="sphere" description="Sphere with resolution">
    <text languages="openscad">sphere(r=${1:10}, $$fn=${2:64});</text>
  </snippet>

</snippets>
